services:
  server:
    build:
      context: .
      target: final
      args:
        - BASE_URL=$BASE_URL
    ports:
      - 8080:8080
    environment:
      - DATABASE_PASSWORD
      - DATABASE_URL=postgresql://postgres:${DATABASE_PASSWORD}@db/fanschnick
      - BASE_URL
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres
    restart: always
    env_file: .env
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=fanschnick
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
secrets:
  db-password:
    environment: DATABASE_PASSWORD
