:root {
    --background-color: #141414;
    --foreground-color: #faf5f5;
    --highlight-red: #ff3719;
    --highlight-green: #00ff00;
    --highlight-purple: #9673ff;
    --shadow-gray: color-mix(in srgb, var(--background-color) 70%, var(--foreground-color) 30%);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #faf5f5;
    --foreground-color: #141414;
  }
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 0;
    padding: 0;
    font-family: "Victor Mono", monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    /*position: fixed;
    bottom: 0;*/
    width: 100%;
    background-color: var(--highlight-red);
    flex-grow: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    div {
        display: inline;
        img {
            color: inherit;
            width: 2em;
            height: 2em;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    flex-grow: 1;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1 {
    font-size: 2em;
}

#invite {
    display: block;
    padding: 1em 1em;
    font-weight: bold;
    background: var(--highlight-red);
    border: none;
    border-radius: 0.5em;
    color: var(--foreground-color);
    align-self: center;
}

.weapon {
    width: 3em;
    height: 3em;
}

.weapon-selection, .outcome-selection {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

#schnick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    width: 90%;
    flex-grow: 1;
    margin: 1em auto;
}

#schnick input[type=radio] {
    display: none;
}

#schnick input[type=radio]+label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--shadow-gray);
    padding: 0.5em;
    flex-grow: 1;
    border-radius: 0.5em;
}

#schnick input[type=radio]:checked+label {
    background-color: var(--highlight-purple);
}

#schnick #won:checked+label {
    background-color: var(--highlight-green);
}

#schnick #lost:checked+label {
    background-color: var(--highlight-red);
}

#select {
    appearance: none;
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-family: inherit;
    border: none;
    border-radius: 0.5rem;
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--foreground-color) 30%);
}

#abort {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

#abort img {
    width: 3em;
    height: 3em;
    /*filter: grayscale();*/
}


/*
    settings page
 */
.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    form {
        display: flex;
        gap: 0.2em;
    }
    .input-section {
        /* vertical spacing between forms */
        margin: 0.5em 0;
    }
    label {
        /* horizontal indent */
        margin: 0 1em;
    }
}

.settings input, .settings button {
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding:  0.8em 1em;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: inherit;
}

.settings input {
    min-width: 5em;
    flex: 1 1 auto;
}

.settings .error {
    display: none;
    color: var(--highlight-red);
    font-size: 1em;
    margin-top: 0.3em;
}

.input-section:has(input:invalid) .error {
    display: inline;
}

.settings button {
    flex: 0 0 auto;
}

.settings button:active {
    background-color: var(--shadow-gray);
}

.settings-links {
    display: flex;
    justify-content: center;
    gap: 2em;
}