:root {
    --background-color: #141414;
    --foreground-color: #faf5f5;
    --highlight-red: #ff3719;
    --highlight-green: #00ff00;
    --highlight-purple: #9673ff;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 0;
    padding: 0;
    font-family: "Victor Mono", monospace;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--highlight-red);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    div {
        display: inline;
        img {
            color: inherit;
            width: 2em;
            height: 2em;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1 {
    font-size: 2em;
}

#invite {
    display: block;
    padding: 1em 1em;
    font-weight: bold;
    background: var(--highlight-red);
    border: none;
    border-radius: 0.5em;
    color: var(--foreground-color);
    align-self: center;
}

.weapon {
    width: 3em;
    height: 3em;
}

.weapon-selection, .outcome-selection {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

#schnick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    width: 90%;
    margin: 1em auto;
}

#schnick input[type=radio] {
    display: none;
}

#schnick input[type=radio]+label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--foreground-color) 30%);
    padding: 0.5em;
    flex-grow: 1;
    border-radius: 0.5em;
}

#schnick input[type=radio]:checked+label {
    background-color: var(--highlight-purple);
}

#schnick #won:checked+label {
    background-color: var(--highlight-green);
}

#schnick #lost:checked+label {
    background-color: var(--highlight-red);
}