:root {
    --background-color: #141414;
    --foreground-color: #faf5f5;
    --highlight-red: #ff3719;
    --highlight-green: #00ff00;
    --highlight-purple: #9673ff;
    --shadow-gray: color-mix(in srgb, var(--background-color) 70%, var(--foreground-color) 30%);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #faf5f5;
        --foreground-color: #141414;
    }
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: 0;
    padding: 0;
    font-family: "Victor Mono", monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    flex-grow: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.button {
    background-color: var(--shadow-gray);
    padding: 1rem;
    border-color: black;
    border-style: solid;
}

nav .button {
    flex-grow: 1;
}

.button-single {
    border-width: 0.2rem;
    border-radius: 0.5rem;
}

.button-middle {
    border-width: 0.2rem 0.1rem;
}

.button-right {
    border-radius: 0 0.5rem 0.5rem 0;
    border-width: 0.2rem 0.2rem 0.2rem 0.1rem;
}

.button-left {
    border-radius: 0.5rem 0 0 0.5rem;
    border-width: 0.2rem 0.1rem 0.2rem 0.2rem;
}

.button-active {
    background-color: var(--highlight-red);
}

nav {
    display: flex;
    justify-content: space-around;

    div, a {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            color: inherit;
            width: 2em;
            height: 2em;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    flex-grow: 1;
}

main.qrcode {
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1 {
    font-size: 2em;
}

/*************
 * home page *
 *************/

#invite {
    display: block;
    padding: 1em 1em;
    font-weight: bold;
    background: var(--highlight-red);
    color: var(--foreground-color);
    align-self: center;
}

table.metrics {
    tr td:nth-child(2) {
        text-align: right;
    }
}

/****************
 * schnick page *
 ****************/

.weapon {
    width: 3em;
    height: 3em;
}

.weapon-inline {
    width: 1lh;
    height: 1lh;
    vertical-align: middle;
}

.weapon-selection, .outcome-selection {
    display: flex;
    justify-content: space-evenly;
}

#schnick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    width: 100%;
    flex-grow: 1;
    margin: 1em auto;
}

#schnick input[type=radio] {
    display: none;
}

#schnick input[type=radio] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--shadow-gray);
    padding: 0.5em;
    flex-grow: 1;
}

#schnick input[type=radio]:checked + label {
    background-color: var(--highlight-purple);
}

#schnick #won:checked + label {
    background-color: var(--highlight-green);
}

#schnick #lost:checked + label {
    background-color: var(--highlight-red);
}

#select {
    appearance: none;
    margin: 0;
    font-size: 3em;
    font-family: inherit;
    height: fit-content;
}

form:valid #select {
    background-color: var(--highlight-purple);
}

#abort {
    align-self: center;
    appearance: none;
    margin: 0;
}

#abort img {
    filter: grayscale(100);
}


/*****************
 * settings page *
 *****************/

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    font-size: 1em;

    form {
        display: flex;
        gap: 0.2em;
    }

    .settings-input {
        /* vertical spacing between forms */
        margin: 0.5em 0;
    }

    label {
        /* horizontal indent */
        margin: 0 1em;
    }
}

.settings input, .settings button {
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding: 0.8em 1em;
    border-radius: 0.5em;
    font-size: inherit;
    font-family: inherit;
}

.settings input {
    min-width: 5em;
    flex: 1 1 auto;
}

.settings .error {
    display: none;
    color: var(--highlight-red);
    font-size: inherit;
    margin-top: 0.3em;
}

.settings-input:has(input:invalid) .error {
    display: inline;
}

.settings button {
    flex: 0 0 auto;
}

.settings button:active {
    background-color: var(--shadow-gray);
}

.settings-links {
    display: flex;
    justify-content: center;
    gap: 2em;
}

/****************
 * waiting page *
 ****************/

/* https://www.geeksforgeeks.org/css/how-to-move-an-element-in-a-circular-path-using-css/ */
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(var(--start)) translateX(100px) rotate(calc(-1 * var(--start)));
    }
    100% {
        transform: translate(-50%, -50%) rotate(calc(360deg + var(--start))) translateX(100px) rotate(calc(-360deg - var(--start)));
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.waiting-symbols {
    margin: auto;

    .symbols {
        width: 5em;
        position: absolute;
    }

    #arrows {
        position: absolute;
        animation: rotate 4s linear infinite;
    }

    #rock {
        --start: 120deg;
        animation: spin 4s linear infinite;
    }

    #paper {
        --start: 0deg;
        animation: spin 4s linear infinite;
    }

    #scissors {
        --start: -120deg;
        animation: spin 4s linear infinite;
    }
}

/****************
 * about page *
 ****************/
    .about {
      max-width: 400px;
      margin: 0 auto;
      text-align: justify;
    }

    .center-image {
      text-align: center;
      margin-bottom: 20px;
    }

    .emoji-text {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
    }

    .emoji-text .emoji {
      flex: 0 0 20%;
      text-align: center;
      margin-left: -10px;
    }

    .emoji-text .text {
      flex: 1;
      max-width: 320px;
      text-align: justify;
    }

 /****************
 * imprint page *
 ****************/
 .imprint{
    max-width: 400px;
    margin: 3em auto;
 }

/********
 * tabs *
 ********/

#tabs {
    display: flex;
    gap: 0.5em;
}

.tab {
    background-color: var(--shadow-gray);
    border-color: black;
    border-style: solid;
    border-radius: 1em;
    color: var(--foreground-color);
    height: 2em;
    width: 3.7em;
    cursor: pointer;
    text-align: center;
    place-content: center;
    font-weight: bold;
    img {
        width: 1.5em;
        filter: grayscale(100);
        vertical-align: middle;
    }
}

.tab-active {
    background-color: var(--highlight-red);
}