<body>
    <main>
        <div class="about">
            <div class="center-image">
                <img src="assets/scissors.svg" alt="scissors" width="150">
            </div>

            <span style="color: var(--highlight-purple);"><h1>About us</h1></span>
            <p>
                This project was created by members of the fan club. The fan club is
                a group of friends – because in the end, friends
                are simply fans of each other.
            </p>

            <span style="color: var(--highlight-red);"><strong>Why am I here?</strong></span><br>
            <p>
                If you want to schnick and ended up here, you’ll probably need to
                use the original browser or transfer your cookies
                to this new one.
                In case you've randomly stumbled upon this site, it
                is invite only, but you can find a person to schnick with via
                the hotline below.
            </p>

            <p class="emoji-text">
                <img src="assets/phone.svg" alt="phone" width="50">
                <span>
                    For help, feedback, a prediction on what you should choose next, and other fun stuff, call
                    <span style="color: var(--highlight-green);"><strong>#5000</strong></span>.
                </span>
            </p>
        </div>
    </main>
</body>
