{% extends "base.html" %}
{% block head %}
<link rel="me" href="https://chaos.social/@fanschnick">
{% endblock %}
{% block body %}
    <main>
        <div class="about">
            <div class="center-image">
                <img src="assets/scissors.svg" alt="scissors" width="150">
            </div>

            <span style="color: var(--highlight-purple);"><h1>About us</h1></span>
            <p>
                OxSchnick is a project where Oxford students can challenge each other to Schnicks (aka games of rock, paper, scissors).
                You can see a graph of everyone in the university who is playing, and how they are connected.
                There are also leaderboards like <i>highest number of schnicks</i> and <i>highest number
                of invited people</i> where you can battle for the #1 spot.
                <br>
                This project was made as a project at <a href="https://orchard.day">Orchard</a>!
                Join us if you want to work on your own fun side projects, whether art, coding, writing, or anything else :)
            </p>

            <span style="color: var(--highlight-orange);"><strong>UNPAID ADVERTISING</strong></span>
            <p>
                Do you want to start a crazy new hobby at Oxford?!
                Learn to skydive with the Oxford Skydiving Club, intro days for HT live now!
                <br>
                <a href="https://skydiveoxford.co.uk">CLICK HERE</a>
            </p>

            <span style="color: var(--highlight-red);"><strong>Why am I here?</strong></span><br>
            <p>
                If you want to schnick and ended up here, you’ll probably need to
                use the original browser or transfer your cookies
                to this new one with the url from the 'copy session' button in the settings.
                <br>
                In case you've randomly stumbled upon this site, it
                is invite only. Go find someone who plays Schnick to get started!
            </p>
        </div>
    </main>
{% endblock %}
