{% extends "base.html" %}
{% block head %}
    <meta name="description" content="You've been invited to schnick.">
    <meta property="og:site_name" content="OxSchnick">
    <meta property="og:title" content="invite">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ base_url | safe }}/invite?id={{ id }}&token={{ token }}">
    <meta property="og:description" content="You've been invited to schnick.">
    <meta property="og:image" content="{{ base_url | safe }}/assets/scissors.svg">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "website",
            "name": "Schnick",
            "headline": "invite",
            "url": "{{ base_url | safe }}/invite?id={{ id }}&token={{ token }}",
            "description": "You've been invited to schnick.",
            "image": "{{ base_url | safe }}/assets/scissors.svg"
        }
    </script>
{% endblock %}
{% block main %}
    <div class="centered-page">
        <h1>You've been challenged to a schnick.</h1>
        <a id="accept-button" class="button button-single text-style" href="invite/accept?id={{ id }}&token={{ token }}"><img class="inline-icon" src="assets/won.svg" alt="accept">Accept challenge</a>
        <p><span style="vertical-align: super;">*</span>Accepting automatically sets cookies in your browser that log you into your account</p>
    </div>
{% endblock %}
{% block footer %}
    <nav>
        <a class="button button-single button-active text-style" href="/"><img class="inline-icon" src="assets/lost.svg" alt="decline">Decline challenge</a>
    </nav>
{% endblock %}