<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="prefetch" href="/assets/style.css">
    <link rel="prefetch" href="/assets/rock.svg">
    <link rel="prefetch" href="/assets/paper.svg">
    <link rel="prefetch" href="/assets/scissors.svg">
    <link rel="prefetch" href="/assets/home.svg">
    <link rel="prefetch" href="/assets/metrics.svg">
    <link rel="prefetch" href="/assets/graphs.svg">
    <link rel="prefetch" href="/assets/settings.svg">
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="application-name" content="fanschnick" lang="en">
    <title>fanschnick</title>
    <link rel="icon" href="/assets/scissors.svg" sizes="any" type="image/svg+xml">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <nav>
            <a href="/home" class="button button-left nav-icon {% block nav_home %}{% endblock %}"><img src="/assets/home.svg"></a>
            <a href="/graphs" class="button button-middle nav-icon {% block nav_graphs %}{% endblock %}"><img src="/assets/graphs.svg"></a>
            <a href="/metrics" class="button button-middle nav-icon {% block nav_metrics %}{% endblock %}"><img src="/assets/metrics.svg"></a>
            <a href="/settings" class="button button-right nav-icon {% block nav_settings %}{% endblock %}"><img src="/assets/settings.svg"></a>
        </nav>
        {% endblock %}
    </footer>
    {% endblock %}
</body>
</html>