<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.4" integrity="sha384-A986SAtodyH8eg8x8irJnYUk7i9inVQqYigD6qZ9evobksGNIXfeFvDwLSHcp31N" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="prefetch" href="/assets/style.css">
    <link rel="prefetch" href="/assets/rock.svg">
    <link rel="prefetch" href="/assets/paper.svg">
    <link rel="prefetch" href="/assets/scissors.svg">
    <link rel="prefetch" href="/assets/home.svg">
    <link rel="prefetch" href="/assets/metrics.svg">
    <link rel="prefetch" href="/assets/graphs.svg">
    <link rel="prefetch" href="/assets/settings.svg">
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="application-name" content="fanschnick" lang="en">
    <title>fanschnick</title>
    <link rel="icon" href="/assets/scissors.svg" sizes="any" type="image/svg+xml">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <nav>
            <a href="/home" class="button button-left {% block nav_home %}{% endblock %}"><img src="/assets/home.svg"></a>
            <a href="/graphs" class="button button-middle {% block nav_graphs %}{% endblock %}"><img src="/assets/graphs.svg"></a>
            <a href="/metrics" class="button button-middle {% block nav_metrics %}{% endblock %}"><img src="/assets/metrics.svg"></a>
            <a href="/settings" class="button button-right {% block nav_settings %}{% endblock %}"><img src="/assets/settings.svg"></a>
        </nav>
        {% endblock %}
    </footer>
    {% endblock %}
</body>
</html>