<header>
    {% if let Some(username) = username %}
    <h1><span class="icon">🏠</span> Hi {{ username }}!</h1>
    {% else %}
    <h1><span class="icon">🏠</span> Hi Fan!</h1>
    {% endif %}
</header>  
<a hx-get="qrcode" hx-target="body" hx-swap="innerHTML" id="invite">Let's schnick!</a>
<a href="{{ invite }}">invite link</a>
<ul>
    <li>#schnicks: {{ num_schnicks }}</li>
    <li>#winstreak: {{ win_streak.0 }}/{{ win_streak.1 }}</li>
    <li>#losestreak: {{ lose_streak.0 }}/{{ lose_streak.1 }}</li>
</ul>