{% extends "base.html" %}
{% block head %}
<script>
    let sse = new EventSource("home/sse");
    sse.onmessage = (e) => {
        window.location.href = e.data;
    };
</script>
{% endblock %}
{% block nav_home %}button-active{% endblock %}
{% block main %}
<div id="banner-concluded" class="banner banner-green">
    <img src="/assets/won.svg" alt=""> Your schnick was successful.
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const banner = urlParams.get('banner');
    if (banner === "concluded") {
        let elem = document.getElementById("banner-concluded");
        elem.style.display = "flex";
        setTimeout(() => {
            elem.style.display = "none";
        }, 5000);
    }
</script>
<header>
    <h1 id="greeting"><img class="weapon-inline" src="assets/home.svg"><span>Hi {{ user.username }}!</span></h1>
</header>
{% match invite %}
{% when Some with (invite_url) %}
<a href="home/invite" id="invite" class="button button-single">Let's schnick!</a>
<a href="{{ invite_url }}">invite link</a>
{% when None %}
<p>Finish a schnick with another user first to invite other people to schnick.</p>
{% endmatch %}
<h2>Metrics</h2>
<table class="home">
    <tbody>
        <tr>
            <td>Schnicks</td>
            <td>{{ stats.num_schnicks }}</td>
        </tr>
        <tr>
            <td>Won</td>
            <td>{{ stats.num_won }}</td>
        </tr>
        <tr>
            <td>Score</td>
            <td>TODO</td>
        </tr>
        <tr>
            <td>Win Streak</td>
            <td>{{ stats.current_winning_streak }}/{{ stats.longest_winning_streak }} </td>
        </tr>
        <tr>
            <td>Lose Streak</td>
            <td>{{ stats.current_losing_streak }}/{{ stats.longest_losing_streak }}</td>
        </tr>
        <tr>
            <td>Children</td>
            <td>{{ stats.num_children }}</td>
        </tr>
        <tr>
            <td>Favorite</td>
            <td>
            {% for favorite in stats.favorites() %}
            {% match favorite %}
            {% when Weapon::Rock %}
            <img class="weapon-inline" src="assets/rock.svg" alt="rock">
            {% when Weapon::Paper %}
            <img class="weapon-inline" src="assets/paper.svg" alt="paper">
            {% when Weapon::Scissors %}
            <img class="weapon-inline" src="assets/scissors.svg" alt="scissors">
            {% endmatch %}
            {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}