{% extends "base.html" %}
{% block head %}
<script>
    let sse = new EventSource("home/sse");
    sse.onmessage = (e) => {
        window.location.href = e.data;
    };
</script>
{% endblock %}
{% block nav_home %}button-active{% endblock %}
{% block main %}
<header>
    <h1 id="greeting"><img class="weapon-inline" src="assets/home.svg"><span>Hi {{ user.username }}!</span></h1>
</header>
{% match invite %}
{% when Some with (invite_url) %}
<a href="home/invite" id="invite" class="button button-single">Let's schnick!</a>
{% when None %}
<p>Finish a schnick with another user first to invite other people to schnick.</p>
{% endmatch %}
<h2>Metrics</h2>
<table class="home">
    <tbody>
        <tr>
            <td>Schnicks</td>
            <td>{{ stats.num_schnicks }}</td>
        </tr>
        <tr>
            <td>Won</td>
            <td>{{ stats.num_won }}</td>
        </tr>
        <tr>
            <td>Score</td>
            <td>{{ score }}</td>
        </tr>
        <tr>
            <td>Win Streak</td>
            <td>{{ stats.current_winning_streak }}/{{ stats.longest_winning_streak }} </td>
        </tr>
        <tr>
            <td>Lose Streak</td>
            <td>{{ stats.current_losing_streak }}/{{ stats.longest_losing_streak }}</td>
        </tr>
        <tr>
            <td>Children</td>
            <td>{{ stats.num_children }}</td>
        </tr>
        <tr>
            <td>Favorite</td>
            <td>
            {% for favorite in stats.favorites() %}
            {% match favorite %}
            {% when Weapon::Rock %}
            <img class="weapon-inline" src="assets/rock.svg" alt="rock">
            {% when Weapon::Paper %}
            <img class="weapon-inline" src="assets/paper.svg" alt="paper">
            {% when Weapon::Scissors %}
            <img class="weapon-inline" src="assets/scissors.svg" alt="scissors">
            {% endmatch %}
            {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<p class="made-with">Made with &lt;3 at <a href="https://orchard.day" target="_blank" rel="noopener noreferrer">Orchard</a></p>
<div id="banner-concluded" class="banner banner-green">
    <img class="inline-icon" src="/assets/won.svg" alt="success">
    Schnick logged!
</div>
<div id="banner-aborted" class="banner banner-red">
    <img class="inline-icon" src="/assets/lost.svg" alt="abort">
    Schnick aborted
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const banner = urlParams.get('banner');
    let elem;
    if (banner === "concluded") {
        elem = document.getElementById("banner-concluded");
    } else if (banner === "aborted") {
        elem = document.getElementById("banner-aborted");
    }
    if (elem) {
        elem.style.display = "flex";
        setTimeout(() => {
            elem.classList.add("fade-out");

            setTimeout(() => {
                elem.style.display = "none";
            }, 2000);
        }, 1000);
    }
</script>
{% endblock %}