<body>
  <main>
    <div class="imprint">
      <h1><span style="color: var(--highlight-green);">Imprint</span></h1>

      <h2><span style="color: var(--highlight-red);">Emojis</span></h2>
      <p>
        <u> Source</u>:
        <a href="https://mutant.tech/" target="_blank" rel="noopener noreferrer">
          mutant.tech
        </a>
      </p>
      <p>
        <u>License</u>:
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
           target="_blank" rel="noopener noreferrer">
          Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
          (CC BY-NC-SA 4.0)
        </a>
      </p>

      <h2><span style="color: var(--highlight-purple);">Fonts</span></h2>

      <p>
      <strong><u>Kario</u></strong><br>
      Design by Bernd Volmer.<br>
      Used in accordance with the usage permission for the 39C3 only.
      </p>

      <p>
        <strong><u>Officer Sans</u></strong><br>
        Design by Hannes von Döhren.<br>
        Used in accordance with the usage permission for the 39C3 and for personal use only.
      </p>
    </div>
  </main>
</body>
