{% extends "base.html" %}
{% block body %}
  <main>
    <div class="imprint">
      <h1><span style="color: var(--highlight-green);">Imprint</span></h1>

      <h2><span style="color: var(--highlight-red);">Emojis</span></h2>
      <p>
        <u> Source</u>:
        <a href="https://mutant.tech/" target="_blank" rel="noopener noreferrer">
          Mutant
        </a>
      </p>
      <p>
        <u>License</u>:
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
           target="_blank" rel="noopener noreferrer">
          Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
          (CC BY-NC-SA 4.0)
        </a>
      </p>

      <h2><span style="color: var(--highlight-purple);">Color Scheme</span></h2>
      <p>
      <u>Source</u>:
      <a href="https://events.ccc.de/congress/2025/infos/styleguide/v1/39C3-Design-Package/39C3-Style-Guide/39C3-Style-Guide-V01.pdf" target="_blank" rel="noopener noreferrer">
        39C3 Style Guide
      </a><br>
      Used in accordance with the usage permission for the 39C3 only.
      </p>

      <h2><span style="color: var(--highlight-red);">Fonts</span></h2>
      <p>
        <strong><u>Victor Mono</u></strong><br>
        <a href="https://rubjo.github.io/victor-mono/" target="_blank" rel="noopener noreferrer">
          Source
        </a>
      </p>
    </div>
  </main>
{% endblock %}
