{% extends "base.html" %}
{% block head %}
<script>
    let sse = new EventSource("sse");
    sse.onmessage = (e) => {
        window.location.href = "../" + e.data;
    };
</script>
{% endblock %}
{% block main %}
<div class="centered-page">
    <div id="qr-code">
        {{ qrcode | safe }}
        <p>or copy <a href="{{ invite_url | safe }}" onclick="">this link.</a></p>
    </div>
</div>
{% endblock %}
{% block footer %}
    <nav>
        <a class="button button-single button-active" id="abort" href=".."><img class="icon" src="../assets/arrow_back.svg" alt="back"></a>
    </nav>
{% endblock %}