{% extends "base.html" %}
{% block nav_metrics %}button-active{% endblock %}
{% block main %}
<div id="tabs">
    <a href="score" class="tab {% block tab_score %}{% endblock %}"><img class="icon" src="/assets/score.svg" alt="Score"></a>
    <a href="num_schnicks" class="tab {% block tab_num_schnicks %}{% endblock %}"><img class="icon" src="/assets/num_schnicks.svg" alt="Number"></a>
    <a href="streak" class="tab {% block tab_streak %}{% endblock %}"><img class="icon" src="/assets/streak.svg" alt="Streak"></a>
    <a href="num_invites" class="tab {% block tab_num_invites %}{% endblock %}"><img class="icon" src="/assets/num_invites.svg" alt="Children"></a>
    <!--<a href="distance" class="tab {% block tab_distance %}{% endblock %}"><img class="icon" src="/assets/distance.svg" alt="Distance"></a>-->
</div>
<div id="metrics">{% block metrics %}{% endblock %}</div>
{% endblock %}