{% extends "metrics.html" %}
{% block tab_num_invites %}tab-active{% endblock %}
{% block metrics %}
<h2>Number of people invited</h2>
<table class="metrics">
    <thead>
        <th>Rank</th>
        <th>User</th>
        <th>#Invites</th>
    </thead>
    <tbody>
    {% for (n, (user, score)) in data.iter().enumerate() %}
        <tr>
            <td>{{ n + 1 }}.</td>
            <td>{{ user.username }}</td>
            <td>{{ score}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}