<main>
</main>
<footer>
    <nav hx-on:htmx-after-on-load="htmx.removeClass(htmx.find('.button-active'), 'button-active'); htmx.addClass(event.target, 'button-active')">
        <div class="button button-left button-active" hx-get="home" hx-target="main" hx-swap="innerHTML" hx-trigger="load, click"><img src="assets/home.svg"></div>
        <div class="button button-middle" hx-get="graphs" hx-target="main" hx-swap="innerHTML"><img src="assets/graphs.svg"></div>
        <div class="button button-middle" hx-get="metrics" hx-target="main" hx-swap="innerHTML"><img src="assets/metrics.svg"></div>
        <div class="button button-right" hx-get="settings" hx-target="main" hx-swap="innerHTML"><img src="assets/settings.svg"></div>
    </nav>
</footer>