<form>
    <div>
        <label for="won"><img class="weapon" src="assets/won.svg" alt="won"></label><input type="radio" id="won" name="won" value="true">
        <label for="lost"><img class="weapon" src="assets/lost.svg" alt="lost"></label><input type="radio" id="lost" name="won" value="false">
    </div>
    <div>
        <label for="rock"><img class="weapon" src="assets/rock.svg" alt="rock"></label><input type="radio" id="rock" name="weapon" value="0">
        <label for="paper"><img class="weapon" src="assets/paper.svg" alt="paper"></label><input type="radio" id="paper" name="weapon" value="2">
        <label for="scissors"><img class="weapon" src="assets/scissors.svg" alt="scissors"></label><input type="radio" id="scissors" name="weapon" value="1">
    </div>
    <button hx-post="select">select</button>
</form>
<footer>
    <form>
        <button hx-post="abort">abort</button>
    </form>
</footer>