{% extends "base.html" %}
{% block main %}
    <div id="overlay" hx-on:click='document.getElementById("overlay").remove()'>
        <div id="overlay-center">
            <h1>Schnick!</h1>
            <div class="rules">
                <img src="assets/rock.svg" alt="rock">
                <img class="icon" src="assets/arrow_right.svg" alt="beats">
                <img src="assets/scissors.svg" alt="scissors">
            </div>
            <div class="rules">
                <img src="assets/scissors.svg" alt="scissors">
                <img class="icon" src="assets/arrow_right.svg" alt="beats">
                <img src="assets/paper.svg" alt="paper">
            </div>
            <div class="rules">
                <img src="assets/paper.svg" alt="paper">
                <img class="icon" src="assets/arrow_right.svg" alt="beats">
                <img src="assets/rock.svg" alt="rock">
            </div>
        </div>
        <div id="overlay-bottom">(click anywhere to continue)</div>
    </div>
    <div id="banner-retry" class="banner banner-red">
        <img src="/assets/lost.svg" alt=""> You and your opponents inputs didn't match. Please try again
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const banner = urlParams.get('banner');
        if (banner === "retry") {
            let overlay = document.getElementById("overlay");
            overlay.style.display = "none";
            let elem = document.getElementById("banner-retry");
            elem.style.display = "flex";
            setTimeout(() => {
                elem.style.display = "none";
            }, 5000);
        }
    </script>
    <h1>Enter result:</h1>
    <form action="schnick" method="post" id="schnick">
        <div class="outcome-selection">
            <input type="radio" id="won" name="won" value="true" required><label class="button button-left" for="won"><img class="weapon" src="assets/won.svg" alt="won"></label>
            <input type="radio" id="lost" name="won" value="false" required><label class="button button-right" for="lost"><img class="weapon" src="assets/lost.svg" alt="lost"></label>
        </div>
        <div class="weapon-selection">
            <input type="radio" id="rock" name="weapon" value="0" required><label class="button button-left" for="rock"><img class="weapon" src="assets/rock.svg" alt="rock"></label>
            <input type="radio" id="paper" name="weapon" value="2" required><label class="button button-middle" for="paper"><img class="weapon" src="assets/paper.svg" alt="paper"></label>
            <input type="radio" id="scissors" name="weapon" value="1" required><label class="button button-right" for="scissors"><img class="weapon" src="assets/scissors.svg" alt="scissors"></label>
        </div>
        <button type="submit" class="button button-single" id="select">select</button>
    </form>
{% endblock %}
{% block footer %}
    <nav>
        <a class="button button-single button-active" id="abort" href="schnick/abort"><img class="icon" src="assets/abort.svg" alt="abort"></a>
    </nav>
{% endblock %}