{% extends "base.html" %}
{% block nav_settings %}button-active{% endblock %}
{% block main %}
    <div class="settings">
        <form action="settings/username" method="post" onsubmit="return this.checkValidity()" novalidate>
            <div class="input">
                <input class="input" type="text" name="username_value" id="username" value="{{ username_value }}" maxlength="32" required>
                <button>Change</button>
            </div>
            <label for="username">Name<span class="error"> cannot be empty</span></label>
        </form>
        <form action="settings/college" method="post" onsubmit="return this.checkValidity()" novalidate>
            <div class="input">
                <div class="input" id="college-form">
                    <select class="input" name="college_value" id="college">
                        {% for (id, name) in colleges %}
                            {% if let Some(current) = college_value %}
                                <option value="{{ id }}" {% if *current == id %}selected{% endif %}>{{ name }}</option>
                            {% else %}
                                <option value="{{ id }}" {% if *id == 0 %}selected{% endif %}>{{ name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="button" id="info-button" onclick="toggleInfo()">ⓘ</button>
                    <div id="college-info">
                        You can see other people's colleges by clicking on the nodes in the graphs.
                    </div>
                </div>
                <button>Change</button>
            </div>
            <label for="college"><span class="error">Invalid college</span></label>
        </form>
        <button id="copyLink" onclick="copyLink()">Copy session</button>
        <label for="copyLink">Open this link in another browser to transfer your account.</label>
    </div>
    <div class="settings-links">
        <a href="about">About Us</a>
        <a href="credits">Credits</a>
    </div>

    <script>
        function toggleInfo() {
            var element = document.getElementById("college-info");
            element.classList.toggle("visible");
        }
        document.addEventListener('click', function () {
            document.getElementById('college-info').classList.remove('visible');
        });
        document.getElementById('info-button').addEventListener('click', function (e) {
            e.stopPropagation();
        });
        document.getElementById('college-info').addEventListener('click', function (e) {
            e.stopPropagation();
        });

        function copyLink() {
            navigator.clipboard.writeText("{{ recovery_link | safe }}");
        }
    </script>
{% endblock %}